.sidebar-tabList-option-container {
    overflow: hidden;
}

.sidebar-tabList-option-container--active {
    overflow: visible;
}

.sidebar-tabList-option-container--active > .sidebar-tabList-option {
    padding-bottom: 5px;
    background-color: #535353;
    cursor: auto;
}

.sidebar-tabList-option {
    height: 1.2rem;
    padding: 4px 9px;
    background-color: #424242;
    display: inline-block;

    user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    border: 0 solid #383838;
    border-right-width: 1px;

    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.1rem;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #f0f0f0;
    text-align: center;
    white-space: nowrap;

    flex-shrink: 0;
}