.menu-container {
    height: 2.2rem;
    padding: 0 46px;
    background-color: #535353;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;

    user-select: none;
    -moz-user-select: none;
}

.menu-logo {
    width: 1.3rem;
}

.menu-logo svg {
    fill: #1acf59;
    width: 100%;
}

@media (max-width: 960px)
{
    .menu-container {
        position: absolute;
        z-index: 2000;
        height: 100%;
        width: 240px;
        padding: 0;
        top: 0;
        left: -240px;

        transition: left 0.3s ease-in-out;
    }

    .menu-container.drawer {
        left: 0;
    }

    .menu-container:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 240px;
        height: 100%;
        width: 100vw;
        background-color: rgba(0,0,0,0);
        pointer-events: none;

        transition: background-color 0.3s ease-in-out;
    }

    .menu-container.drawer:after {
        background-color: rgba(0,0,0,0.5);
        pointer-events: all;
    }

    .menu > .flex-filler {
        min-height: 32px;
    }

    .menu {
        flex-direction: column;
        overflow-y: auto;
        align-items: stretch;
        box-sizing: border-box;
        padding-bottom: 24px;
    }

    .menu-logo {
        width: 100%;
        min-height: 56px;
        border: 0 solid #383838;
        border-bottom-width: 1px;
        margin-bottom: 24px;
    }

    @media screen and (orientation:landscape) {
        .menu-logo {
            min-height: 40px;
        }
    }
}