.menu-container {
    height: 2.2rem;
    padding-left: 46px;
    background-color: #535353;

    border: 0 solid #383838;
    border-right-width: 1px;
}

.menu {
    display: inline-flex;
    border: 0 solid #383838;

    user-select: none;
    -moz-user-select: none;
}