.menu-options, .menu-options--opened {
    height: 1.42rem;
    margin: 0.395rem 0;
}

.menu-options:focus, .menu-options--opened:focus {
    outline: 0;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-options-label {
    padding: 0 7px 2px;
    line-height: 1.42rem;
    color: #f0f0f0;
    border-radius: 4px;
}

.menu-options-label, .menu-options-container {
    font-family: "Lato", sans-serif;
    font-size: 0.95rem;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.menu-options-label:hover, .menu-options--opened .menu-options-label {
    background-color: #474747;
    border: 1px solid #636363;
    padding: 0 6px 2px;
}
.menu-options--opened .menu-options-label {
    background-color: #383838;
}

.menu-options-fix {
    width: 0 !important;
}

.menu-options-container {
    min-width: 140px;
    max-width: 400px;

    padding: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    background-color: #f0f0f0;
    border: solid 1px #a0a0a0;
}

.menu-option {
    height: 1.35rem;
    padding: 1px 0 2px 18px;
    box-sizing: border-box;
    color: black;
    line-height: 1.15rem;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.menu-option:hover {
    background-color: #0078d7;
    color: white;
}

.menu-option-divider {
    height: 1px;
    background-color: #a0a0a0;
    margin: 3px 2px;
}