.menu-options-container-wrapper, .menu-options-container-wrapper--opened {
    height: 1.42rem;
    margin: 0.395rem 0;
}

.menu-options-container-wrapper:focus, .menu-options-container-wrapper--opened:focus {
    outline: 0;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-options-container-label {
    padding: 0 7px 2px;
    line-height: 1.42rem;
    color: #f0f0f0;
    border-radius: 4px;
}

.menu-options-container-label, .menu-options {
    font-family: "Lato", sans-serif;
    font-size: 0.95rem;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.menu-options-container-label:hover, .menu-options-container-wrapper--opened .menu-options-container-label {
    background-color: #474747;
    border: 1px solid #636363;
    padding: 0 6px 2px;
}
.menu-options-container-wrapper--opened .menu-options-container-label {
    background-color: #383838;
}

.menu-options-container {
    min-width: 140px;
    max-width: 400px;
    padding: 2px;

    position: absolute;
    z-index: 1000;
    background-color: #f0f0f0;
    border: solid 1px #a0a0a0;
}