.sidebar-container {
    background-color: #535353;
    min-width: 300px;
    max-width: 22vw;

    border: 1px solid #383838;
}

.sidebar-folders {
    height: 1.85rem;
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #424242;

    border: 0 solid #383838;
    border-width: 0 0 1px 0;
}