.menu-option {
    position: relative;
    height: 1.35rem;
    padding: 1px 0.3rem 2px 1.25rem;
    box-sizing: border-box;

    color: black;
    line-height: 1.15rem;
}

.menu-option:hover {
    background-color: #0078d7;
    color: white;
}

.menu-option--checked:before {
    position: absolute;
    content: "✓";
    font-weight: 800;
    font-size: 0.8rem;
    left: 0.3rem;
    top: 0px;
}

.menu-option--disabled, .menu-option--disabled:hover {
    color: #6d6d6d;
}

.menu-option-divider {
    height: 1px;
    background-color: #a0a0a0;
    margin: 3px 2px;
}

.menu-folder--hasMenu > * {
    width: calc(100% + 0.8rem);
}

.menu-folder--hasMenu > .menu-option-divider {
    width: calc(100% + 0.5rem);
}

.menu-option--menu:after {
    position: absolute;
    content: "🢒";
    font-weight: 800;
    font-size: 1.6rem;
    right: 0.3rem;
    top: -0.05rem;
}

@media (max-width: 960px)
{
    .menu-option {
        height: auto;
        box-sizing: border-box;
        padding: 13px 10px 13px 30px;
        font-size: 15px;

        max-width: 100%;
        overflow-x: hidden;
        white-space: pre-wrap;

        color: #f0f0f0;
    }


    .menu-option-divider {
        height: 0;
        margin: 0;
    }

    .menu-option:hover {
        background-color: rgba(0,0,0,0);
        color: white;
    }

    .menu-option--disabled, .menu-option--disabled:hover {
        color: #6d6d6d;
    }

    .menu-option--menu:after {
        position: absolute;
        content: "›";
        height: 42px;
        display: flex;
        align-items: center;
        top: -2px;
        right: 10px;

        transition: transform 0.2s ease, top 0.2s ease;
    }

    .menu-option--checked:before {
        font-size: 12px;
        left: 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .menu-option--menu-opened:after {
        transform-origin: center;
        transform: rotate(90deg);
        top: 1px;
    }
}