.modal-sign-button {
    width: 8rem;
    padding: 8px;
    margin-top: 6px;
    border-radius: 4px;
    background-color: #0079d3;

    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.1rem;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
}

.modal-sign-button:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-sign-button:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.modal-sign-button-error {
    display: inline-flex;
    align-items: center;

    fill: #ffe300;
    font-size: 1rem;
    margin-top: 15px;
    letter-spacing: 0.25px;
    color: #ffe300;
}

.modal-sign-button-error svg {
    margin-right: 5px;
    width: 24px;
}