.modal-account {
    min-width: 500px;
    min-height: 300px;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.modal-account-menu {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.modal-account-view {
    box-sizing: border-box;
    margin-left: 24px;
    flex-grow: 1;
}

.modal-account-button-container{
    margin: 12px 0 0 6px;
    display: flex;
}

.modal-account-row:first-of-type {
    border-top: 1px solid #6d6d6d;
}

.modal-account-row {
    height: 3.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
    padding: 0 6px;
}

.modal-account-row:focus {
    outline: none;
}

.modal-account-row--selected {
    background-color: #424242;
}

.modal-account-row-text--header-disabled {
    font-weight: 700;
    font-size: 1.1rem;
    color: #8c8a8a;
}

.modal-account-row-text {
    margin-right: 6px;
    color: #f0f0f0;
}

.modal-account-row-text--bold {
    font-weight: 700;
}