* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    background-color: white;
}
/*
::selection {
    background: #ffb7b7;
}

::-moz-selection {
    background: #ffb7b7;
}*/