.menu-folder-container {
    position: relative;
    padding: 0.15rem 0.45rem;
    border-radius: 0.3rem;
    border: 1px solid rgba(0,0,0,0);

    font-size: 0.95rem;
    color: #f0f0f0;
}

.menu-folder-container:hover {
    outline: none;
    background-color: #474747;
    border-color: #636363;
}

.menu-folder-container:focus {
    outline: none;
}

.menu-folder-container--opened {
    background-color: #383838 !important;
    border-color: #636363;
}

.menu-folder {
    padding: 0.15rem;
    min-width: 10rem;
    white-space: nowrap;

    position: absolute;
    top: calc(0.95rem + 7px);
    left: 0;
    z-index: 1000;
    background-color: #f0f0f0;
    border: solid 1px #a0a0a0;
}

.menu-folder--hasMenu {
    padding-right: 0.95rem;
}

.menu-folder--nested {
    top: -0.3rem;
    left: calc(100% - 0.1rem);
}

@media (max-width: 960px)
{
    .menu-folder-container {
        max-width: 100%;
        box-sizing: border-box;
        padding: 13px 0 13px 24px;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 0;
        border: 0;

        transition: background-color 0.16s ease-out;
        -webkit-tap-highlight-color: transparent;
    }

    .menu-folder-container--opened {
        background-color: rgba(0,0,0,0) !important;
        border: 0 !important;
    }

    .menu-folder-container:hover {
        outline: none;
        background-color: initial;
        border: 0;
    }

    .menu-folder {
        top: 13px;
        margin-left: -24px;
        padding: 0;
        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
        border: 0;

        position: relative;
        background-color: #383838;

        max-height: 0;
        transition: max-height 0.3s ease;
        overflow-y: hidden;
    }

    .menu-folder--nested {
        left: 12px;
        max-height: initial;
    }

    .menu-folder--hasMenu {
        padding: 0;
    }
}