.menu-folder-container {
    position: relative;
    padding: 0 7px;
    border-radius: 4px;

    line-height: 1.3rem;
    font-family: "Lato", sans-serif;
    font-size: 0.95rem;
    color: #f0f0f0;
}

.menu-folder-container:hover {
    outline: none;
    background-color: #474747;
    border: 1px solid #636363;
    padding: 0 6px;
}

.menu-folder-container:focus {
    outline: none;
}

.menu-folder-container--opened {
    background-color: #383838 !important;
    border: 1px solid #636363;
    padding: 0 6px;
}

.menu-folder-container--icon {
    display: inline-flex;
    align-items: center;
}

.menu-folder-container--icon svg {
    padding-left: 4px;
    fill: #f0f0f0;
}

.menu-folder {
    min-width: 140px;
    max-width: 400px;
    padding: 2px;

    font-family: "Lato", sans-serif;
    font-size: 0.95rem;

    position: absolute;
    top: 1.2rem;
    left: 0;
    z-index: 1000;
    background-color: #f0f0f0;
    border: solid 1px #a0a0a0;
}